@charset "utf-8";

/*---page_about---*/

/*----Maincolumn---*/

#maincolumn .section {
	width: 840px;
	margin: 0 auto;
	padding: 10px 70px 12px;
	background: url(../images/bg_sec.png) repeat-y;
}
#maincolumn .block {
	width: 840px;
}
#maincolumn #method {
	width: 620px;
	padding: 36px 110px 54px;
	margin-bottom:35px;
	letter-spacing:0.1em;
	background: url(../images/about/line.png) no-repeat center bottom;
}
#maincolumn #method h3 {
	margin-bottom:10px;
	font-size:16px;
	color:#b25401;
	font-weight:normal;
}
#maincolumn #method .boxL {
	width: 250px;
	float:left;
	padding: 0 0 0 10px;
}
#maincolumn #method .boxR {
	width: 200px;
	float:right;
}
#maincolumn #detail {
	width: 789px;
	padding: 0 0 21px 51px;
	letter-spacing:0.1em;
}
#maincolumn #detail .photo {
	padding: 0 0 0 126px;
}
#maincolumn #step {
	position: relative;
	width: 787px;
}
#maincolumn #step .inner {
	width: 738px;
	height: 330px;
	padding: 53px 0 0 33px;
	margin: 0 0 60px 0;
	overflow:hidden;
	letter-spacing: 0.1em;
	background: url(../images/about/step_footer.jpg) no-repeat right bottom;
}
#maincolumn #step ul {
	position:absolute;
	left:112px;
	top:53px;
	width: 1200px;
}
#maincolumn #step ul li {
	float:left;
	margin-right:29px;
}
#maincolumn #step .btn_prev {
	position:absolute;
	left:62px;
	top:177px;
	width: 27px;
}
#maincolumn #step .btn_next {
	position:absolute;
	right:-12px;
	top:177px;
	width: 27px;
}